[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
matplotlib = "*"
numpy = "*"
gunicorn = "*"
torch = {version = "==1.8.1", file = "https://download.pytorch.org/whl/cpu/torch-1.8.1-cp39-none-macosx_10_9_x86_64.whl"}
torchvision = {version = "==0.9.1", file = "https://download.pytorch.org/whl/torchvision-0.9.1-cp37-cp37m-macosx_10_9_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.7.10"
