[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
matplotlib = "*"
numpy = "*"
gunicorn = "*"
torch = "0.1.2.post2"
torchvision = "0.2.2.post3"


[dev-packages]

[requires]
python_version = "3.7.10"
